
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
    margin: 0;
    padding: 0;
    text-align: center;
}

table {
    background-color: pink;
    border-collapse: collapse;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td {
    padding: 10px;
    font-size: 14px;
}
